body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.usernameForm {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-direction: cloumn;
    justify-content: center;
    align-items: center;
}

#usernameInput {
    font-size: 20px;
    padding: 5px;
    width: 100%;
}

#createUserBtn{
    width: 45%;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
